<nav class="fondo">
    <div class="nav-wrapper">
        <a routerLink="/usuarios" ><img class="logo left" src="../../assets/img/logo.svg"></a>
      <!-- <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> -->
      <!-- <ul class="left hide-on-med-and-down"> -->
        <!-- <li><a class="waves-effect waves-light" routerLink="">Home</a></li> -->
        <!-- <li><a class="waves-effect waves-light bold" routerLink="/usuarios">Usuarios</a></li> -->
      <!-- </ul> -->
      <!-- <ul class="side-nav" id="mobile-demo"> -->
        <!-- <li><a routerLink="" routerLinkActive="active">Home</a></li> -->
        <!-- <li><a routerLink="/usuarios" routerLinkActive="active">Usuarios</a></li> -->
      <!-- </ul> -->
    </div>
  </nav>
