.fleft{float: left;}
.fright{float: right;}
.posicionar{margin: 50px;}
.red.darken-2 {
    background-image: linear-gradient(#d4251d, #bf1818, #ad1012);
    color: white;
}
.margin10{
    margin: 5px;
}