<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class=row>
    <div class=col>
      <div class="container">
        <h1 class="display-3">Bienvenido a Supermercados DIA%</h1>
        <p class="lead">Esto es una aplicación realizada en Angular.</p>
      </div>
    </div>
  </div>
  <div class=row>
    <div class=col-9>
      <div class="card">
        <img class="card-img-top" src="assets/img/super.jpg" alt="Card image cap">
      </div>
    </div>
    <div class=col-3>
      <div class="card border-danger mb-3 mr-3 ml-3">
        <div class="card-header">Tu super</div>
        <div class="card-body text-danger">
          <h5 class="card-title">Red de tiendas</h5>
          <p class="card-text">La compañía cuenta con una extensa red de tiendas con más de 7.300 establecimientos,
            tanto tiendas propias como franquicias. DIA cuenta con diferentes formatos como DIA Market, DIA Maxi,
            Clarel, La Plaza de Dia o Minipreço para poner a disposición del consumidor una amplia gama de productos a
            los mejores precios. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class=col>
      <div class="card">
        <div class="card-header">
          La frase del DIA
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Mas cerca que nunca de tu familia.</p>
            <footer class="blockquote-footer">Iluminado de marketing y de las pelis de terror.<cite title="Source Title">¡¡Hay
                ensalada gratis!!</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>