<div class="page-container">
	<div class="side-bar">
		<ul class="nav flex-column">
			<!-- Botos de Inicio / Volver -->
			<li class="nav-item">
				<a class="nav-link active" routerLink="home"><ion-icon color="primary" name="home"></ion-icon></a>
			</li>
			<!-- Boton de Añadir nuevo registro -->
			<li class="nav-item">
				<a class="nav-link" routerLink="add" alt="Añadir"><ion-icon color="primary"  name="add"></ion-icon></a>
			</li>
		</ul>
	</div>
	<div class="content-container">
 		<router-outlet></router-outlet>
	</div>
</div>
