<form class="create-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">

    <div class="form-group">
      <mat-form-field class="input-style">
        <input matInput placeholder="Nombre" class="form-control" formControlName="nombre">
      </mat-form-field>
      <ng-container *ngFor="let validation of validation_messages.nombre">
        <mat-error *ngIf="exampleForm.get('nombre').hasError(validation.type) && (exampleForm.get('nombre').dirty || exampleForm.get('nombre').touched)">{{validation}}</mat-error>
      </ng-container>
    </div>
  
    <div class="row submit-button-container">
      <div class="col-md-4">
        <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!exampleForm.valid">Crear</button>
      </div>
    </div>
  
  </form>