<h1 class="animated fadeIn fast">Lideres en distribución</h1>
<hr>
<p class="animated fadeIn">
  Distribuidora Internacional de Alimentación, DIA, es una compañía internacional del sector de la distribución de la
  alimentación, productos de hogar, belleza y salud. DIA cotiza en la Bolsa de Madrid y forma parte del Ibex 35, el
  índice de referencia del mercado bursátil español. En 2017, las ventas brutas bajo enseña superaron los 10.300
  millones € y el número de establecimientos ascendía a 7.388 en los países en los que opera, España, Portugal, Brasil
  y Argentina.


</p>
