<div class="container">
  <div *ngIf="country">
    <h2>{{ country.name | uppercase }}</h2>
    <p>
      <span>Capital: </span>{{country.capital}}</p>
    <p>
      <span>Superficie: </span>{{country.area | number}} km
      <sup>2</sup>
    </p>
    <p>
      <span>Poblacion: </span>{{country.population | number}}</p>
    <p>
      <span>PIB: </span>{{country.gdp | number}}</p>
    <p>
      <span>Modena: </span>{{country.currency}}</p>
    <button (click)="goBack()">Volver</button>
  </div>
</div>